
*{
	padding:0px;
	margin: 0px;
	list-style-type: none;
}

/* Standaard achtergrond blauw als gradient niet werkt */
html{
	background-color:rgba(9,9,121,1);
}

body > ul{
	list-style-type: none;
	display: flex;
	height: 100%;
	position: absolute;
    transform-style: preserve-3d;
    overflow: hidden;
}

body > ul li:nth-child(-n+3){
	height: 100vh;
	width: calc(100vw / 3);
}

/* Vis lichaam */
body > ul li:nth-of-type(4){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    transition: all 1s;
    width: 50px;
    height: 50px;
    z-index: 1;
}

/* Vis lichaam */
body > ul li:nth-of-type(4) section:nth-child(1){
	transform-style: preserve-3d;
	position:absolute;
    width: 100%;
    height: 100%;
}

body > ul li:nth-of-type(4) section:nth-child(1) div{
    position: absolute;
    width: 50px;
    height: 50px;
}

/* Voorkant lichaam */
body > ul li:nth-of-type(4) section:nth-child(1) div:nth-child(1) { 
	transform: rotateY(  0deg) translateZ(25px); 
	background-color: red;
}

/* Rechterkant lichaam */
body > ul li:nth-of-type(4) section:nth-child(1) div:nth-child(2){
	transform: rotateY( 90deg) translateZ(25px);
	background-color: blue;
}

/* Achterkant lichaam */
body > ul li:nth-of-type(4) section:nth-child(1) div:nth-child(3){
	transform: rotateY(180deg) translateZ(25px);
	background-color: green;
}

/* linkerkant lichaam */
body > ul li:nth-of-type(4) section:nth-child(1) div:nth-child(4){
	transform: rotateY(-90deg) translateZ(25px);
	background-color: yellow;
}

/* Onderkant lichaam */
body > ul li:nth-of-type(4) section:nth-child(1) div:nth-child(5){
	transform: rotateX( 90deg) translateZ(25px);
	background-color: orange;
}

/* Bovenkant lichaam */
body > ul li:nth-of-type(4) section:nth-child(1) div:nth-child(6){
	transform: rotateX(-90deg) translateZ(25px);
	background-color: white;
}


/* fin */
body > ul li:nth-of-type(4) section:nth-child(2){
    background: rgb(3,36,0);
    background: linear-gradient(90deg, rgba(3,36,0,1) 0%, rgba(9,121,48,1) 35%, rgba(9,255,0,1) 100%);
    position: absolute;
	transform-style: preserve-3d;
    width: 100%;
    height: 70%;
    top: 15%;
    left: -50%;
	animation:  finMoving  1s ease-in 0s infinite normal;
	transform: rotateY(0deg);
}


/* Animatie fin bewegen */
@keyframes finMoving {
0%{
	transform: rotateY(-50deg);
}
100%{
	transform: rotateY(50deg);
} 
}

/* Ogen */
body > ul li:nth-of-type(4) section:nth-child(3){
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Linker oog */
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(1){
    width: 20px;
    height: 20px;
    right: -10px;
    top: -10px;
    transform: translateZ(25px);
    position: absolute;
	transform-style: preserve-3d;
} 

/* Rechter oog */
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(2){
    width: 20px;
    height: 20px;
    right: -10px;
    top: -10px;
    transform:  translateZ(-25px);
    position: absolute;
	transform-style: preserve-3d;
	
} 

/* Maken van linker oog */
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(2) > div {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(204,0,102, 1);
  animation:  eyes  1s infinite;
}

/* Maken van rechter oog */
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(1) > div {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(204,0,102, 1);
  animation:  eyes  5s infinite;
}

/* Animatie oog verandert van kleur */
@keyframes eyes {
    from{
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(360deg);
    } 
}

/* Linker oog rond maken */
/* X Axis */
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(2) > div:nth-child(1) {transform: rotate3d(1, 0, 0, 0deg); }
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(2) > div:nth-child(2) {transform: rotate3d(1, 0, 0, 36deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(2) > div:nth-child(3) {transform: rotate3d(1, 0, 0, 72deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(2) > div:nth-child(4) {transform: rotate3d(1, 0, 0, 108deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(2) > div:nth-child(5) {transform: rotate3d(1, 0, 0, 144deg);}
/* Y Axis */
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(2) > div:nth-child(6) {transform: rotate3d(0, 1, 0, 0deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(2) > div:nth-child(7) {transform: rotate3d(0, 1, 0, 36deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(2) > div:nth-child(8) {transform: rotate3d(0, 1, 0, 72deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(2) > div:nth-child(9) {transform: rotate3d(0, 1, 0, 108deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(2) > div:nth-child(10) {transform: rotate3d(0, 1,0, 144deg);}
/* Z Axis */
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(2) > div:nth-child(11) {transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 0deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(2) > div:nth-child(12) {transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 36deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(2) > div:nth-child(13) {transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 72deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(2) > div:nth-child(14) {transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 108deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(2) > div:nth-child(15) {transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 144deg);}

/* Rechter oog rond maken */
/* X Axis */
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(1) > div:nth-child(1) {transform: rotate3d(1, 0, 0, 0deg); }
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(1) > div:nth-child(2) {transform: rotate3d(1, 0, 0, 36deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(1) > div:nth-child(3) {transform: rotate3d(1, 0, 0, 72deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(1) > div:nth-child(4) {transform: rotate3d(1, 0, 0, 108deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(1) > div:nth-child(5) {transform: rotate3d(1, 0, 0, 144deg);}
/* Y Axis */
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(1) > div:nth-child(6) {transform: rotate3d(0, 1, 0, 0deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(1) > div:nth-child(7) {transform: rotate3d(0, 1, 0, 36deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(1) > div:nth-child(8) {transform: rotate3d(0, 1, 0, 72deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(1) > div:nth-child(9) {transform: rotate3d(0, 1, 0, 108deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(1) > div:nth-child(10) {transform: rotate3d(0, 1,0, 144deg);}
/* Z Axis */
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(1) > div:nth-child(11) {transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 0deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(1) > div:nth-child(12) {transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 36deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(1) > div:nth-child(13) {transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 72deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(1) > div:nth-child(14) {transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 108deg);}
body > ul li:nth-of-type(4) section:nth-child(3) > div:nth-child(1) > div:nth-child(15) {transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 144deg);}

/* Draaien van vis naar links */
body > ul li:nth-of-type(1):hover ~ li:nth-of-type(4){
	left: calc(50% - 25px);
	top:  calc(50% - 25px);
	transform: rotateY(	-179deg);
}

/* Achtergrond linear gradient */
body > ul li:last-child{
	width :100vw;
	height :100vh;
	position:fixed;
	background: repeating-linear-gradient(90deg, rgba(2,0,36,1),rgba(9,9,121,1),rgba(0,212,255,1),rgba(2,0,36,1));
	background-repeat:repeat-x;
	background-size: 400% 100%;
	animation:  ocean  10s linear  infinite normal;
	animation-direction: reverse;
	opacity:1;
	transition :all 1s;
	animation-delay: 5s;
    z-index: -6;
    transform: translateZ(-1000px);
}


/* Animatie achtergrond */
@keyframes ocean {
0%{background-position:100% 50%}
100%{background-position:-33% 50%} /* instead of 0% 50% */
}


body > ul li:nth-of-type(5):hover ~	 li:last-child{
	opacity:0;
}

/* Start animatie naar links */
body > ul li:nth-of-type(1):hover ~ li:last-child{
	opacity:1;
	animation-direction: normal;
}

/* Stop achtergrond animatie op hover */
body > ul li:nth-of-type(2):hover ~ li:last-child{
	opacity:0;
    animation-play-state: paused;
}

/* duikboot */
body > ul li:nth-of-type(5){
	position : fixed;
	right: -100px;
    top: 100px;
	transition :all 5s;
	animation:  duikbootMove  30s forwards;
}

/* Frame duikboot */
body > ul li:nth-of-type(5) > div:nth-child(1) {
	width: 100px;
	height :70px;
    background-color: red;
    border-radius: 10px;
	position:absolute;
}

/* Raam 1 duikboot */
body > ul li:nth-of-type(5) > div:nth-child(2) {
	background-color: black;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    left: 5px;
    top: 20px;
}

/* Raam 2 duikboot */
body > ul li:nth-of-type(5) > div:nth-child(3) {
	background-color: black;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    left: 35px;
    top: 20px;
}

/* Raam 3 duikboot */
body > ul li:nth-of-type(5) > div:nth-child(4) {
	background-color: black;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    left: 65px;
    top: 20px;
}

/* Verander raamen van kleur */
body > ul li:nth-of-type(5) > div:nth-child(1n+2):hover{
	background-color:yellow;
}

/* Beweeg duikboot van rechts naar links */
@keyframes duikbootMove {
from{
	right: -100px;
}
to{
	right: 1000px;
} 
}

/* Grond animatie */
@keyframes floorRepeat {
    from {transform: translateX(  0%);}
    to {transform: translateX(-100%);}
}

/* Begin grond */
body > ul li:nth-of-type(6){
    background-color: rgb(107, 57, 17);
    width: 101vw;
    height: 300px;
    clip-path: polygon(61% 76%, 51% 80%, 34% 79%, 27% 85%, 18% 77%, 12% 83%, 0% 77%, 0% 100%, 100% 100%, 100% 77%, 91% 85%, 87% 79%, 77% 77%, 71% 84%); 
    bottom: 0;
    left: 0;
    position: fixed;
    animation: floorRepeat 6s infinite linear;
    overflow: hidden;   
    z-index: 1;
}

/* Einde grond */
body > ul li:nth-of-type(7){
    content: "";
    background-color: rgb(107, 57, 17);
    width: 100vw;
    height: 300px;
    left: 100vw;
    clip-path: polygon(61% 76%, 51% 80%, 34% 79%, 27% 85%, 18% 77%, 12% 83%, 0% 77%, 0% 100%, 100% 100%, 100% 77%, 91% 85%, 87% 79%, 77% 77%, 71% 84%); 
    bottom: 0;
    position: fixed;
    animation: floorRepeat 6s infinite linear;
    overflow: hidden;   
    z-index: 1;
}

/* Draai grond animatie naar links */
body > ul li:nth-of-type(1):hover ~ li:nth-child(7){
	animation-direction: reverse;
}

/* Draai grond animatie naar rechts */
body > ul li:nth-of-type(1):hover ~ li:nth-child(6){
	animation-direction: reverse;
}

/* haak */
body > ul li:nth-of-type(9){
    position: absolute;
    top: -10%;
    left: 80%;
    transform-style: preserve-3d;
    transition: all 1s;
    width: 50px;
    height: 50px;
    z-index: 1;
    transform: rotateX(-20deg) rotateY(-20deg);;
    animation:  haak  20s linear infinite;
}

/* Beweeg haak in 3d omgeving */
@keyframes haak {
    0% {   transform: rotateX(-20deg) rotateY(-20deg);}
    50% {    transform: rotateX(50deg)rotateY(360deg);}
    100% {    transform: rotateX(-20deg)rotateY(-20deg);}
}

body > ul li:nth-of-type(9) section{
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
}

body > ul li:nth-of-type(9) section div{
position: absolute;
width: 50px;
height: 50px;
background-color: black;
}



body > ul li:nth-of-type(9) section:nth-child(1) div:nth-child(1) {
    transform: rotateY( 0deg) translateZ(25px);
    height: 600px;
    width: 23px;
    clip-path: polygon(38% 96%, 100% 94%, 38% 98%, 0 95%, 0 0, 5% 0, 4% 90%);
}


/* bubbles */
body > ul li:nth-of-type(8) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    z-index: -5;
    position: fixed;
    display: none;
}

/* Bubble textwrap om de tekst heen */
body > ul li:nth-of-type(8) > div{
    width: 50px;
    height: 50px;
    float: left;
    shape-outside: border-box;
    shape-image-threshold: 0.9;
    margin-top: calc(50% + 50px);
    margin-left: calc(50% - 50px);
}

/* Bubble text */
body > ul li:nth-of-type(8) p{
width: 800px;
color: white;
animation:  bubbleRepeat  1s ease-in 0s infinite normal;
text-align: right;
transform: rotateZ(90deg);
opacity: 0.1;
padding-left: 0px;
}

/* Animatie bubbles bewegen */
@keyframes bubbleRepeat {
    from {    padding-left: 0px;}
    to {    padding-left: 10px;}
}